### 1.문제정의
- 보스턴 집값 데이터를 활용해서 집값을 예측해보자

### 2.데이터 수집
### 3.데이터전처리

In [11]:
import pandas as pd
import numpy as np
data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]

X =pd.DataFrame(data, columns=['CRIM','ZN','INDUS','CHAS', 'NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT'])

y = pd.DataFrame(target, columns=['price'])
total = pd.concat([X,y],axis=1)
total.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

### 4. 탐색적 데이터 분석(Exploratory Data Analysis)

#### 4.1 상관관계 분석
- 피어슨 상관계수
- 상관관계를 -1~1까지로 표현
- -1에 가까울수록 음의 상관계수
  - 하나가 커지면 다른 하나가 작아진다.
  - 안경 알의 두계와 시력
- 1에 가까울 수록 양의 상관계수
  - 하나가 커지면 다른 하나도 커진다.
  - ex) 키와 발크기
- 0에 가까울 수록 상관관계가 없다.

In [20]:
temp = total.corr().abs()
temp['price'].sort_values(ascending=False)

price      1.000000
LSTAT      0.737663
RM         0.695360
PTRATIO    0.507787
INDUS      0.483725
TAX        0.468536
NOX        0.427321
CRIM       0.388305
RAD        0.381626
AGE        0.376955
ZN         0.360445
B          0.333461
DIS        0.249929
CHAS       0.175260
Name: price, dtype: float64